:root {
    --background: #2a2b38;
    --background-login: #1f2029;
    --color-words: white;
    --background-light: #e8e8e8;
}

* {
    margin: auto;
    padding: auto;
    font-family: 'Montserrat', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--background);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 23%;
    padding: 1em;
    background: var(--background-login);
    color: var(--color-words);
    border-radius: 10px;

}

.field {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: start;
}

label {
    font-size: 1em;
    margin: .5em;
}

input {
    margin: .5em;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: var(--color-words);
}

.title {
    font-size: 2em;
    font-weight: 500;
    color: var(--color-words);
    margin-bottom: .3em;
}

.btn {
    font-size: 1em;
    background: var(--background-light);
    padding: .6em 1.2em;
    border: none;
    border-radius: 4px;
    margin-top: 1em;
}

.forgot-password {
    text-decoration: none;
    color: var(--color-words);
    font-size: 1em;
    margin: 1em; 
}

/*Hover & focus*/
input:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
}

.btn:hover {
    box-shadow: -2px -2px 8px 4px rgba(255,255,255,0.82);
    transition: .5s;
}

.btn:active {
    box-shadow: inset -8px -8px 14px 8px rgba(212,212,212,0.89);
}

.forgot-password:hover {
    color: #dad9d9;
    transition: .5S;
}

@media screen and (max-width: 897px) {
    body {
        height: 100vh;
    }
    
    .container {
        width: 60%;
        padding: 1em;
    }
  }